body {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
}

.lien-icone {
  margin-left: 30px;
}

.lien-icone img {
  width: 100px;
  height: auto;
}

header nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.menu a {
  text-decoration: none;
  color: #333;
  margin-left: 20px;
  font-weight: bold;
}

.menu a:hover {
  color: #e67e22; /* Couleur au survol */
}

.accueil-introduction {
  background-color: bisque;
  display: flex; /*place les éléments sur une même ligne*/
  align-items: center; /*aligne verticalement le texte et l'image*/
  /* justify-content: center; espace entre les 2 blocs */
  justify-content: space-around;
  gap: 100px; /*espace entre le texte et l'image;*/
  padding-right: 520px;
  padding-left: 520px;
}

.accueil-introduction .texte-intro {
  flex: 1; /* le texte prend la place disponible à gauche */
}

.accueil-introduction img {
  width: 600px; /* ajuste la taille selon ton image */
  height: 700px;
  border-radius: 10px;
  padding-bottom: 80px;
  padding-top: 100px;
}

.accueil-introduction h1 {
  margin-bottom: 15px;
}

.accueil-introduction p {
  margin-bottom: 30px;
}

.accueil-introduction div {
  padding-right: 80px;
}

em {
  font-style: italic;
  text-decoration: #ff1493;
  text-decoration: underline;
}

.cta {
  text-decoration: #ff1493;
}

.accueil-photos img {
  background-color: white;
  padding: 20px;
  width: 250px;
  height: 250px;
  object-fit: cover; /* garde les proportions et remplit le cadre */
  border-radius: 20px; /* optionnel, pour un rendu plus doux */
  transition: transform 0.3s ease; /*petit effet visuel*/
}

p {
  color: black;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-size: 150%;
  font-weight: normal;
  font-style: normal;
  text-align: justify;
  line-height: 1.6;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td /*toutes les cellules des tableaux...*/ {
  border: 1px solid blueviolet;
  padding: 15px;
}

th /*bordure de l'entête*/ {
  border: 2px solid blueviolet;
  padding: 15px;
}

fieldset {
  border-color: blueviolet;
}

:required {
  background-color: #ff1493;
}

h1 {
  color: blueviolet;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-size: 200%;
  font-weight: bold;
  font-style: normal;
  text-decoration: underline;
  display: block;
}

h2 {
  color: rgb(170, 102, 233);
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-size: 180%;
  font-weight: lighter;
  font-style: normal;
  text-decoration: none;
}

h3 {
  color: rgb(177, 134, 218);
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-size: 160%;
  font-weight: lighter;
  font-style: normal;
  text-decoration: none;
}

ul {
  color: black(170, 102, 233);
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-size: 180%;
  font-weight: lighter;
  font-style: normal;
  text-decoration: none;
}

footer {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

footer img {
  width: 40px;
  height: auto;
  transition: transform 0.3s ease;
}

footer img:hover {
  transform: scale(1.2);
}
